.DS_Store
TheIsoperimetricProblem.aux
TheIsoperimetricProblem.toc
TheIsoperimetricProblem.fdb_latexmk
TheIsoperimetricProblem.fls
TheIsoperimetricProblem.log
TheIsoperimetricProblem.out
TheIsoperimetricProblem.synctex.gz